.product-date {
	margin: 2px 0;
	padding: 3px;
	background-color: #f4f4f4f4;
	display: block;
}
label{
	font-weight: bold;
}
.product-image {
	width: 100%;
}
li.list-group-item .d-flex .justify-content-between .align-items-center .inactive{
	background-color: #f9e2f9ee;
}
